$clr-white: rgb(255, 255, 255);
$clr-bg: #232323;
$clr-YELLOW: tomato;
$clr-GRAY: #9d9d9d;
$clr-RED: #8e2e2e;
$clr-BLACK: #000;
$clr-BLUE: #2098d1;
$clr-BORDER: #3c3c3c;
$clr-white: #fff;

$clr-BOX_SHADOW_PRIMARY: 0px 0px 10px 3px transparent, 0px 0px 10px $clr-BLACK;
$clr-BOX_SHADOW_PRIMARY_HOVER: 0px 0px 10px 3px $clr-BLUE,
  0px 0px 10px $clr-BLACK;
